body{
background-color:white;
color:black;
}

header{
background-color:cornflowerblue;
}

header h1{
color:white;
}

h2{
color:blue;
}

a:link,a:visited{
color:green;
}

a:hover{
color:red;
}

.inferno-title{
background-color:yellow;
color:black;
}

.inferno-text{
background-color:white;
color:red;
}

.fathers-title{
background-color:darkgreen;
color:yellow;
}

.fathers{
background-color:palegreen;
}

.normal-list{
background-color:white;
color:black;
}

.daughter{
background-color:yellow;
}

.daughter-title{
color:red;
}

.highlight{
color:orange;
}

.highlight-blue{
color:blue;
}
