

body {
  margin: 0;
  background-image: url("a5bg.png");
  background-repeat: repeat;
  font-family: "Times New Roman", Times, serif;
}


.page {
  width: 98%;
  margin: 12px auto;
}


.header-box {
  background: white;
  border: 1px solid gray;
  padding: 18px;
  margin-bottom: 14px;
}

h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 34px;
}


.nav {
  list-style: none;
  padding: 0;
  margin: 0 0 18px 0;
}

.nav li {
  display: inline-block;
  margin-right: 18px;
}

.nav a {
  display: inline-block;
  background: darkblue;
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  border: 1px solid navy;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}


.nav a:hover {
  background: blue;
  color: white;
}


.content-box {
  background: white;
  border: 1px solid gray;
  padding: 22px 18px 26px 18px;

 
  margin-bottom: 120px;
}

h2 {
  margin: 0 0 10px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.rule {
  height: 3px;
  background: black;
  margin: 10px 0 18px 0;
}

.justified {
  text-align: justify;
  font-size: 15px;
  line-height: 1.35;
  margin: 0 0 18px 0;
}


.content-box a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.content-box a:hover {
  color: red;
  text-decoration: underline;
}


.footer-box {
  background: darkblue;
  border: 4px solid white;
  padding: 50px 18px;   
}

.footer-text {
  margin: 0;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 20px;
}